div[class*='MuiPaper'] {
  box-shadow: 0 2px 3px rgba(90, 97, 105, 0.11) !important;
}

.menu-hover :hover{
  box-shadow: inset 0.1875rem 0 0 #007bff;
  background-color:  #fbfbfb;
  color: #007bff;
}

.menu-hover > * :hover {
  box-shadow: initial;
  background-color:  initial;
  color: initial;
}


.menu-hover :hover .collapse-submenu{
  box-shadow: none;
  background-color:  transparent;
  color: #000 !important;
}

.collapse-submenu {
  box-shadow: none !important;
  background-color:  transparent !important;
  color: #000 !important;
}



.submenu > *  :hover {
  box-shadow: none;
  background-color:  transparent;
  color: #007bff;
}
.MuiListItem-button:hover {
  color: #007bff !important;
}

.MuiListItem-button:hover  .MuiListItem-button :not(:hover){
  color: initial !important;
}