

  .app-header {
    color: #000;
    background-color:#FFFFFF; 
    // padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(225, 229, 235);
    width: 100%;

    &__search-box {
      // display: flex;
      margin-right: auto;
      align-items: center;
      height: 32px;
      color: #ced4d9;
      padding-left: 16px;
      border-left: 1px solid #ebedf0;
      line-height: 22px;
      // height: 22px;
      // margin: 22px auto 0;
      // padding-left: 16px;
      // line-height: 22px;
      // border-left: 1px solid #ebedf0;

      svg {
        width: 1rem;
        height: 1rem;
        fill: #ced4d9;
      }
      input {
        margin-left: 16px;
        height: 100%;
        border: none;
        outline: none;
        color: #000;
      }
    }

    &__user-info {
      display: flex;
      align-items: center;
      & > *{
        margin-right: 15px;
      }
      .sb-avatar {
        margin-right: 10px;
      }
      svg {
        width: 17px;
        height: 17px;
      }
      .ant-badge-dot {
        top:23px;
      }
      p {
        margin: 0;
      }
    }
    
    
    .setting {
      border-left: 1px solid  #f8efef;;
      height: 64px;
      width: 64px;
      padding: 15px;
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;  
      margin-right: 5px;
      cursor: pointer;
      svg {
        margin-left: 2.5px;
      }   
    }
  }
 


.ant-popover-content {
  .setting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;

    &:not(:first-child){
      margin-top: 10px;
    }
    
    &:hover, &:active {
      color: #1890ff;
    }
  }
}

